.clothing-card{
	border: 2px solid black;
	border-radius: 4px;
	padding: .5rem;
	margin-bottom: 10px;
	aspect-ratio: 1/1;
	position: relative;
	background-size: contain;;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	span{
		margin-left: 6px;
	}
	.name-tag{
		position: absolute;
		left: 5px;
		top: 2px;
		background-color: rgba(255, 255, 255, 0.8);
		font-size: 120%;
		max-width: 50%;
	}
	.rating, .delete-button{
		position: absolute;
		bottom: 0;
		transform: translateY(80%);
		background-color: white;
		z-index: 2;
		border: 2px solid black;
		border-radius: 5px;
	}
	.rating{
		left: 0;
		display: flex;
		flex-direction: row;
		div{
			padding: 0px 10px;
		}
		.button{
			cursor: pointer;
		}
	}
	.delete-button{
		right: 0;
		padding: 0px 4px;
		color: red;
		cursor: pointer;
	}
	.combination-rating{
		display: flex;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		div{
			font-size: 20px;
			padding: 10px 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid black;
			width: 20px;
		}
		.selected{
			background-color: green;
		}
	}
	.click-box{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

.clothing-card.highlighted{
	border: 8px solid blue;
	cursor: default;
}

.clothing-card.greyed-out{
	filter: brightness(.6);
	background-color: rgb(255, 255, 255);
}